.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.subtitle_container {
    display: flex;
    align-items: end;
    gap: 10px;
    min-height: 42px;
}

.subtitle {
    font-size: var(--details-title-f-s);
    font-weight: var(--details-title-f-w);
    color: var(--details-title-f-c);
    margin: 0;
    line-height: 24px;
}

.details_txt {
    display: flex;
    height: 65px;
    align-items: center;
    margin-right: 30px;
    margin-left: 20px;
    color: var(--offerline-details-subtitle-f-c);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: var(--offerline-details-subtitle-f-s);
    font-style: normal;
    font-weight: var(--offerline-details-subtitle-f-w);
    line-height: 22px;
    text-transform: uppercase;
    white-space: nowrap;
}

.cashback_amount {
    font-weight: var(--offerline-details-amount-f-w);
    color: var(--offerline-details-amount-f-c);
}

.actions_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    height: 65px;
    gap: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.action_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--offerline-action-gap);
    flex-shrink: 0;
}

.btn {
    background: var(--offerline-primary-btn-bg);
    color: var(--offerline-primary-btn-f-c);
    border-radius: var(--offerline-primary-btn-radius);
    border-width: var(--offerline-primary-btn-border-w);
    border-color: var(--offerline-primary-btn-border-c);
    font-size: var(--offerline-primary-btn-f-s);
    font-weight: var(--offerline-primary-btn-f-w);
    border-style: solid;
    cursor: pointer;
    width: var(--offerline-primary-btn-width, 120px);
    height: var(--offerline-btn-height, 36px);
    flex: 0 1 147px;
    padding: var(--offerline-btn-padding, 7px 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--offerline-btn-gap, 6px);
    white-space: nowrap;
}

.xMark:hover {
    transform: scale(1.1);
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--offerline-details-gap);
    padding: var(--offerline-details-padding);
    background: var(--offerline-details-bg);
    border-radius: var(--offerline-details-radius);
    border-width: var(--offerline-details-border-w);
    border-style: solid;
    border-color: var(--offerline-details-border-c);
    user-select: none;
    flex: 1;
    white-space: nowrap;
}

.top_container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    gap: var(--offerline-top-gap);
}

.wallet_container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: var(--offerline-wallet-height);
    background: var(--offerline-wallet-bg);
    padding: var(--offerline-wallet-padding);
    border-radius: var(--offerline-wallet-radius);
}

.wallet {
    font-size: var(--offerline-wallet-f-s);
    font-weight: var(--offerline-wallet-f-w);
    color: var(--offerline-wallet-f-c);
    border-width: var(--offerline-wallet-border-w);
    border-style: solid;
    border-color: var(--offerline-wallet-border-c);
}

.connect_btn {
    background: var(--offerline-wallet-bg);
    cursor: pointer;
}

.btns_container {
    display: flex;
    gap: var(--offerline-btns-gap);
    flex-shrink: 0;
}

.action_btn {
    color: var(--offerline-secondary-btn-f-c);
    background: var(--offerline-secondary-btn-bg);
    border-width: var(--offerline-secondary-btn-border-w);
    border-style: solid;
    border-color: var(--offerline-secondary-btn-border-c);
    border-radius: var(--offerline-secondary-btn-radius);
    font-size: var(--offerline-secondary-btn-f-s);
    font-weight: var(--offerline-secondary-btn-f-w);
    width: var(--offerline-secondary-btn-width, 165px);
    height: var(--offerline-btn-height, 36px);
    flex: 0 1 147px;
    padding: var(--offerline-btn-padding, 7px 16px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--offerline-btn-gap, 6px);
    white-space: nowrap;
}

.demo_container {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: calc(var(--offerline-wallet-height) - 1px);
    background: var(--offerline-wallet-bg);
    padding: var(--offerline-wallet-padding);
    border-radius: var(--offerline-wallet-radius);
}

.demo_checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.demo_label {
    font-size: var(--offerline-wallet-f-s);
    font-weight: var(--offerline-wallet-f-w);
    color: var(--offerline-wallet-f-c);
    border-width: var(--offerline-wallet-border-w);
    border-style: solid;
    border-color: var(--offerline-wallet-border-c);
}

.clarify {
    text-align: left;
    white-space: nowrap;
    font-size: var(--offerline-clarify-f-s);
    font-weight: var(--offerline-clarify-f-w);
    color: var(--offerline-clarify-f-c);
    line-height: 1.2;
    user-select: none;
    flex-shrink: 0;
}
