.btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    padding-right: var(--offerline-right-padding);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 40px;
    flex-shrink: 0;
}

.icon {
    width: 14px;
    height: 14px;
    aspect-ratio: 1/1;
    background: var(--offerline-close-f-c, var(--close-f-c));
    -webkit-mask-image: url('/icons/x-mark.svg');
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url('/icons/x-mark.svg');
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
}
