.logos_wrapper {
    display: flex;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: var(--offerline-left-padding);
    flex-shrink: 0;
}

.logos_container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    background: white;
    border-radius: var(--logo-radius, 50%);
    flex-shrink: 0;
}

.logo {
    border-radius: var(--logo-radius, 50%);
    width: 25px;
    height: 25px;
}

.plus_wrapper {
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--offerline-font-family, Rubik);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: var(--offerline-plus-icon-color, white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    flex-shrink: 0;
}
