.overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background: var(--overlay-bg);
}

.card {
    position: absolute;
    z-index: 3;
    bottom: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    width: calc(100% - 24px);
    height: 120px;
    background: var(--optout-bg);
    border-radius: var(--optout-radius);
}

.title {
    margin-top: 26px;
    font-size: var(--optout-f-s);
    font-weight: var(--optout-f-w);
    color: var(--optout-f-c);
    user-select: none;
    line-height: 16px;
}

.container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 407px;
}

.btn {
    background: var(--secondary-btn-bg);
    color: var(--secondary-btn-f-c);
    font-size: var(--secondary-btn-f-s);
    font-weight: var(--secondary-btn-f-w);
    border-width: var(--secondary-btn-border-w);
    border-style: solid;
    border-color: var(--secondary-btn-border-c);
    border-radius: var(--secondary-btn-radius);
    min-width: 106px;
    height: 32px;
    width: 100%;
    cursor: pointer;
    transition: .2s;
}

.btn:hover,
.btn:visited {
    background: var(--secondary-btn-f-c);
    color: var(--secondary-btn-bg);
}

.message {
    font-size: var(--optout-f-s);
    font-weight: var(--optout-f-w);
    color: var(--optout-f-c);
    text-align: center;
    margin-top: 47px;
    user-select: none;
}

.close_btn {
    background: transparent;
    color: var(--close-f-c);
    font-size: var(--close-f-s);
    font-weight: var(--close-f-w);
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 16px;
    margin-top: 1px;
}

.back_btn {
    position: absolute;
    top: 16px;
    left: 16px;
    background: transparent;
    color: var(--close-f-c);
    font-size: var(--close-f-s);
    font-weight: var(--close-f-w);
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 16px;
}

.x_btn {
    left: auto;
    right: 16px;
}

.x_icon {
    width: 9px;
    height: 9px;
    background: var(--x-btn-f-c, var(--close-f-c));

    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-image: url('/icons/x-mark.svg');

    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url('/icons/x-mark.svg');
}